button {
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    margin-top: 10px;
}

.pharm-main{
    align-self: center;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

.mat-primary{
    background-color: #b0e0e6;
    color: black;
}



.mainimg {
    display: block;
    height: 180px;
    width: 180px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto; 
  }