button {
    align-self: center;
    margin-left: auto;
    margin-right: auto; 
}

h1{
    margin-top: 10px;
}

.pharm-main{
    background-color: #eaf7f8;
    height: 100vh;
}

.cart-main {
    min-width: 250px;
}

.mat-primary{
    background-color: #b0e0e6;
    color: black;
}

.cart-item{
    text-align: center;
}

.store-card {
width: 70vw;
height: 100vh;
background-color: #f4f8f8;
align-items: center;
margin-left: auto;
margin-right: auto; 
}

.item{
text-align: center;
margin-left: 5px;
margin-right: 5px;
}